@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Card UI Design</h1>    
</div>

<div id="CardUI">
    <h3>Our team</h3>
    <div class="section">
        <img src="~/Images/1.jpg" />
        <p> UNO</p>
    </div>
    <div class="section">
        <img src="~/Images/2.jpg" />
        <p> DOS</p>
    </div>
    <div class="section">
        <img src="~/Images/4.jpg" />
        <p> CUATRO</p>
    </div>
    <div class="section">
        <img src="~/Images/5.jpg" />
        <p> CINCO</p>
    </div>
</div>